* {
     color: transparent !important;
     background-color: transparent !important;
     background-image: none !important;
     border-color: black !important;
 }
 
 img {
      visibility:hidden
 }
 
 input, button,i, bl-desktop-phase-home-tab-header, bl-desktop-phase-tab-header,span {
      visibility:hidden
 }
 
 
 select {
      visibility:hidden
 }
 
 bl-fieldset {
    
     box-shadow: 1px 2px 1px  transparent!important;
 }
 
 fieldset {
 
     box-shadow: 1px 2px 1px  transparent !important;
 margin-left: 0px !important;
 padding-left: 0px !important;
 }
 
 fieldset>.card-body {
  background: rgba(0,0,0, 0.5) !important;
 }
 
 legend {
  background: rgba(0,0,0, 0.5) !important;
     box-shadow: 1px 0px 0px  transparent!important;
 }
 
 
 .BLFieldSetPanel>tbody>tr:nth-child(1)>.BLFieldSetPanel-border-hori ,.BLFieldSetPanel-content,  .gwt-DisclosurePanel>tbody>tr {
    background: rgba(0,0,0, 0.5) !important;
 }
 
 table.BLFieldSetPanel, table.gwt-DisclosurePanel  {
     margin-top: 0px;
     padding-top: 5px;
 }